<header>
        <nav>
                <a href="/">MyPost</a>
                <ul>
                    <li><a href="/authors">Authosr</a></li>
                    <li><a href="/authors/new">Add Authosr</a></li>
                     <li><a href="/books">books</a></li>
                    <li><a href="/books/new">Add books</a></li>
                </ul>
        </nav>
</header>